@model Advise
<tr>
    <td>
    <a href="@Model.Link" target="_blank">Open</a>
    </td>
    <td>
    <input asp-for="Name" class="no-border" readonly="true" style="width:100%"></input>
    </td>
</tr>
   
   
