@model Advise
<tr>
    <td>
    <a href="@Model.Link" target="_blank">Open</a>
    </td>
    <td>
    <input asp-for="Address" class="no-border" readonly="true" style="width:100% !important;"></input>
    </td>
    <td>
    <input asp-for="Coords" class="no-border" readonly="true" style="width:70% !important;"></input>
    </td>
</tr>
   
   
