@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}
<br>
<br>
<div class="row">
<div class="col-md-12 text-center">
    <p class="text-info">
        You've successfully authenticated with @ViewData["LoginProvider"].  
    </p>
    <p class="text-info">
        Before proceeding, please confirm your email address:  
    </p>
    <div>
        <strong>@Model.Email</strong>
    </div>
<br>
    <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        @Html.HiddenFor(model => model.Email)
        <button type="submit" class="btn btn-default">Looks good &raquo;</button>
    </form>
    <a class="btn btn-default" href="/Account/Login">Try again &raquo;</a>
</div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
