@model NewAnimal

<div class="container" data-role="page" id="animalPage">
  <div class="row">
    <div class="col-md-6">

        <div class="form-group" style="margin-bottom: 10px;">
            <input asp-for="AnimalName" class="form-control animal-name" id="name" onchange="setName()"></input>
            <span asp-validation-for="AnimalName" class="text-danger" />
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="TypeRelay" data-style="btn-info" class="selectpicker form-control animal-type" title="Type" data-dropup-auto="false" id="typerelay" required="true" onchange="revealbuttons()">
                <option>Dog</option>
                <option>Cat</option>
                <option>Other</option>
            </select>    
            <span asp-validation-for="Type" class="text-danger" />
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="BreedRelay" data-style="btn-info" multiple class="selectpicker form-control" title="Breed" data-selected-text-format="count > 3" data-dropup-auto="false" id="breedrelay">
                <optgroup label="Cats">
                    <option>Domestic Short Hair</option>
                    <option>Domestic Long Hair</option>
                    <option>Feral</option>
                    <option>Tabby</option>
                    <option>Siamese</option>
                </optgroup>
                <optgroup label="Dogs">
                    <option>Mix</option>
                    <option>Pit Bull</option>
                    <option>Terrier</option>
                    <option>German Shepherd</option>
                    <option>Rottweiler</option>
                    <option>Bulldog</option>
                    <option>Beagle</option>
                    <option>Poodle</option>
                    <option>Yorkie</option>
                    <option>Boxer</option>
                    <option>Great Dane</option>
                    <option>Doberman</option>
                    <option>Australian Shepherd</option>
                    <option>Shih Tzu</option>
                    <option>Pomeranian</option>
                    <option>Spaniel</option>
                </optgroup>
                <optgroup>
                    <option>Other</option>
                </optgroup>
            </select>
            <span asp-validation-for="Breed" class="text-danger" />
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="CoatRelay" data-style="btn-info" multiple class="selectpicker form-control" title="Coat" data-selected-text-format="count > 3" data-dropup-auto="false" id="coatrelay">
                <optgroup label="Cats">
                    <option>Tabby</option>
                    <option>Calico</option>
                </optgroup>
                <optgroup label="Dogs">
                    <option>Brindle</option>
                </optgroup>
                <optgroup label="Universal">
                    <option>Black</option>
                    <option>White</option>
                    <option>Gray</option>
                    <option>Brown</option>
                    <option>Tan</option>
                    <option>Blue</option>
                    <option>Orange</option>
                    <option>Yellow</option>
                    <option>Golden</option>
                </optgroup>
            </select>
            <span asp-validation-for="Coat" class="text-danger" />
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <select asp-for="SexRelay" data-style="btn-info" class="selectpicker form-control" title="Sex" data-dropup-auto="false" id="sexrelay">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
            <span asp-validation-for="Sex" class="text-danger" />
        </div>

    </div>
    <div class="col-md-6">

        <div class="form-group">
            <input asp-for="Age" class="form-control"></input>
            <span asp-validation-for="Age" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="LicenseNumber" class="form-control"></input>
            <span asp-validation-for="LicenseNumber" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="LicenseYear" class="form-control"></input>
            <span asp-validation-for="LicenseYear" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="RabbiesVacNo" class="form-control"></input>
            <span asp-validation-for="RabbiesVacNo" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="RabbiesVacExp" class="form-control"></input>
            <span asp-validation-for="RabbiesVacExp" class="text-danger" />
        </div>

    </div>
    </div>

    <div class="form-group" class="col-md-12" style="margin-bottom: 10px;">
        <select asp-for="Veterinarian" data-style="btn-info" class="selectpicker form-control" title="Veterinarian" data-dropup-auto="false">
            <option>VCA Met Vet West Animal Hospital, 5309 Campbells Run Rd</option>
            <option>Penn Animal Hospital, 2205 Penn Ave</option>
            <option>Banfield Pet Hospital, 5986 Centre Ave</option>
            <option>The Big Easy Animal Hospital, 12 McCandless Ave</option>
            <option>Greenfield Veterinary Hospital, 611 Greenfield Ave</option>
            <option>Point Breeze Veterinary Clinic, 6742 Reynolds St</option>
            <option>VCA Castle Shannon Animal Hospital, 3610 Library Rd</option>
            <option>Spay Neuter Clinic, 11675 Frankstown Rd. Penn Hills</option>
            <option>Edgebrook Veterinary Clinic, 1405 Saw Mill Run Blvd</option>
            <option>Vetco, 976 Freeport Rd PGH 15238</option>
            <option>Harts Run Veterinary Hospital, 728 Dorseyville Rd</option>
            <option>East End Veterinary Medical Centre, 5875 Ellsworth Ave</option>
            <option>Cat Clinic and Hospital, 5170 Liberty Ave</option>
            <option>Humane Animal Rescue East, 6966 Hamilton Ave</option>
            <option>Humane Animal Rescue North, 1101 Western Ave</option>
            <option>Animal Friends, 562 Camp Horne Rd</option>
            <option>Other</option>
        </select>
        <span asp-validation-for="Veterinarian" class="text-danger" />
    </div>


    <div class="form-group" class="col-md-12">
        <div>
            <textarea rows="3" asp-for="Comments" class="form-control" onkeyup="textAreaAdjust(this)"></textarea>
            <span asp-validation-for="Comments" class="text-danger" />
        </div>
    </div>
  </div>

<!-- begin hidden fields -->
<input asp-for="Type" id="type" hidden></input>
<input asp-for="Breed" id="breed" hidden></input>
<input asp-for="Coat" id="coat" hidden></input>
<input asp-for="Sex" id="sex" hidden></input>
<input asp-for="Address" id="address" hidden></input>
<input asp-for="Coords" id="coords" hidden></input>
<input asp-for="IncidentID" id="incidentid" hidden></input>