@model NewAnimal

<div class="container" data-role="page" id="animalPage">
  <div class="row">
    <div class="col-md-6">

        <div class="form-group" style="margin-bottom: 10px;">
            <input asp-for="AnimalName" class="form-control animal-name" id="name" onchange="setName()"></input>
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="TypeRelay" data-style="btn-info" class="selectpicker btn-form-control animal-type" title="Type" data-dropup-auto="false" id="typerelay" required="true" onchange="revealbuttons()">
                <option>Dog</option>
                <option>Cat</option>
                <option>Other</option>
            </select>    
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="BreedRelay" data-style="btn-info" multiple class="selectpicker btn-form-control breedrelay" title="Breed" data-selected-text-format="count > 3" data-dropup-auto="false" id="breedrelay" disabled>
                <!-- mix -->
                <option>Mix</option>
                <!-- cats -->
                <option class="cat">Domestic Long Hair</option>
                <option class="cat">Domestic Short Hair</option>
                <option class="cat">Feral</option>
                <option class="cat">Siamese</option>
                <option class="cat">Tabby</option>
                <!-- dogs -->
                <option class="dog">Australian Shepherd</option>
                <option class="dog">Beagle</option>
                <option class="dog">Boxer</option>
                <option class="dog">Bulldog</option>
                <option class="dog">Doberman</option>
                <option class="dog">Dachsuned</option>
                <option class="dog">German Shepherd</option>
                <option class="dog">Great Dane</option>
                <option class="dog">Labrador</option>
                <option class="dog">Mastiffr</option>
                <option class="dog">Pit Bull</option>
                <option class="dog">Pomeranian</option>
                <option class="dog">Poodle</option>
                <option class="dog">Pug</option>
                <option class="dog">Retriever</option>
                <option class="dog">Rottweiler</option>
                <option class="dog">Shih Tzu</option>
                <option class="dog">Spaniel</option>
                <option class="dog">Terrier</option>
                <option class="dog">Yorkie</option>
                <!-- other -->
                <option>Other</option>
            </select>
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="CoatRelay" data-style="btn-info" multiple class="selectpicker btn-form-control" title="Coat" data-selected-text-format="count > 3" data-dropup-auto="false" id="coatrelay" disabled>
                <!-- cats -->
                <option class="cat">Calico</option>
                <option class="cat">Tabby</option>
                <!-- dogs -->
                <option class="dog">Brindle</option>
                <!-- dogs -->
                <option>Black</option>
                <option>Blue</option>
                <option>Brown</option>
                <option>Golden</option>
                <option>Gray</option>
                <option>Orange</option>
                <option>Tan</option>
                <option>White</option>
                <option>Yellow</option>
            </select>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <select asp-for="SexRelay" data-style="btn-info" class="selectpicker btn-form-control" title="Sex" data-dropup-auto="false" id="sexrelay">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </div>

    </div>
    <div class="col-md-6">

        <div class="form-group">
            <input asp-for="Age" class="form-control"></input>
        </div>

        <div class="form-group">
            <input asp-for="LicenseNumber" class="form-control"></input>
        </div>

        <div class="form-group">
            <input asp-for="LicenseYear" class="form-control"></input>
        </div>

        <div class="form-group">
            <input asp-for="RabiesVacNo" class="form-control"></input>
        </div>

        <div class="form-group">
            <input asp-for="RabiesVacExp" class="form-control datepicker" readonly></input>
        </div>

    </div>
    </div>

    <div class="form-group" class="col-md-12" style="margin-bottom: 10px;">
        <select asp-for="Veterinarian" data-style="btn-info" class="selectpicker btn-form-control" title="Veterinarian" data-dropup-auto="false">
            <option>Animal Friends, 562 Camp Horne Rd</option>
            <option>Banfield Pet Hospital, 5986 Centre Ave</option>
            <option>Cat Clinic and Hospital, 5170 Liberty Ave</option>
            <option>East End Veterinary Medical Centre, 5875 Ellsworth Ave</option>
            <option>Edgebrook Veterinary Clinic, 1405 Saw Mill Run Blvd</option>
            <option>Greenfield Veterinary Hospital, 611 Greenfield Ave</option>
            <option>Harts Run Veterinary Hospital, 728 Dorseyville Rd</option>
            <option>Humane Animal Rescue East, 6966 Hamilton Ave</option>
            <option>Humane Animal Rescue North, 1101 Western Ave</option>
            <option>Penn Animal Hospital, 2205 Penn Ave</option>
            <option>Point Breeze Veterinary Clinic, 6742 Reynolds St</option>
            <option>Spay Neuter Clinic, 11675 Frankstown Rd. Penn Hills</option>
            <option>The Big Easy Animal Hospital, 12 McCandless Ave</option>
            <option>VCA Castle Shannon Animal Hospital, 3610 Library Rd</option>
            <option>VCA Met Vet West Animal Hospital, 5309 Campbells Run Rd</option>
            <option>Vetco, 976 Freeport Rd PGH 15238</option>
            <option>Other</option>
        </select>
    </div>


    <div class="form-group" class="col-md-12">
        <div>
            <textarea rows="3" asp-for="Comments" class="form-control" onkeyup="textAreaAdjust(this)"></textarea>
        </div>
    </div>
  </div>

<!-- begin hidden fields -->
<input asp-for="Type" id="type" hidden></input>
<input asp-for="Breed" id="breed" hidden></input>
<input asp-for="Coat" id="coat" hidden></input>
<input asp-for="Sex" id="sex" hidden></input>
<input asp-for="Address" id="address" hidden></input>
<input asp-for="Coords" id="coords" hidden></input>
<input asp-for="IncidentID" id="incidentid" hidden></input>