@model NewDescription
    
<div class="form-group">
    <div class="col-md-12">
        <input asp-for="OwnersLastName" class="form-control"></input>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="OwnersFirstName" class="form-control"></input>
    </div>
</div>

<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <input asp-for="OwnersTelephoneNumber" class="form-control"></input>
    </div>
</div>

<div class="form-group" style="margin-bottom: 5px;">
    <div class="col-md-12">
        <select asp-for="CallOrigin" data-style="btn-info" class="selectpicker form-control" title="Call Origin" data-dropup-auto="false">
            <option>311</option>
            <option>911</option>
            <option>Office</option>
            <option>Police</option>
            <option>Other</option>
        </select>
    </div>
</div>

<div class="form-group" style="margin-bottom: 5px;">
    <div class="col-md-12">
        <select asp-for="ReasonForVisitRelay" data-style="btn-info" multiple class="selectpicker form-control" onchange="enableButton()" title="Reason(s) for visit" data-selected-text-format="count > 4" data-dropup-auto="false" id="reasonrelay" required="true">
            <option>Abandoned animal</option>
            <option>Animal waste in yard</option>
            <option>Animal waste off property</option>
            <option>Barking</option>
            <option>Bite/Quarantine</option>
            <option>Count animals</option>
            <option>Count cats</option>
            <option>Dog on dog attack</option>
            <option>Feeding stray cats</option>
            <option>Feeding wildlife</option>
            <option>FWS</option>
            <option>Rooster/chickens</option>
            <option>Running at large</option>
            <option>Temperature below 32</option>
            <option>Temperature above 90</option>
            <option>Trap loan</option>
            <option>Wellness/Conditions</option>
            <option>Other</option>
        </select>
    </div>
</div>

<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <select asp-for="PGHCodeRelay" data-style="btn-info" multiple class="selectpicker form-control" title="ADV. PGH Code(s)" data-selected-text-format="count > 4" data-dropup-auto="false" id="coderelay">
            <option>633.02a</option>
            <option>633.03</option>
            <option>633.05</option>
            <option>633.07a</option>
            <option>633.08</option>
            <option>633.09a</option>
            <option>633.09b</option>
            <option>633.09c</option>
            <option>633.10a</option>
            <option>633.10b</option>
            <option>633.12</option>
            <option>633.23</option>
            <option>633.24</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="CitationNumber" class="form-control"></input>
        <span asp-validation-for="CitationNumber" class="text-danger" />
    </div>
</div>

<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <select asp-for="OfficersRelay" data-style="btn-info" multiple class="selectpicker form-control" title="Officers involved" data-selected-text-format="count > 4" data-dropup-auto="false" id="officersrelay">
            <option>BG</option>
            <option>CC</option>
            <option>DD</option>
            <option>DE</option>
            <option>DM</option>
            <option>DS</option>
            <option>JG</option>
            <option>JL</option>
            <option>JLE</option>
            <option>KJ</option>
            <option>LM</option>
            <option>PC</option>
            <option>RH</option>
            <option>RS</option>
            <option>SC</option>
            <option>TG</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <textarea rows="3" asp-for="Comments" class="form-control" onkeyup="textAreaAdjust(this)"></textarea>
        <span asp-validation-for="Comments" class="text-danger" />
    </div>
</div>


<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <div style="margin-left: 5px; margin-top: 5px;" ><strong>Status:</strong></div>
        <select asp-for="Open" data-style="btn-info" class="selectpicker form-control" data-dropup-auto="false">
            <option selected value="Yes">Open</option>
            <option value="No">Closed</option>
        </select>
    </div>
</div>

<!-- begin hidden fields -->
<input asp-for="IncidentID" hidden></input>
<input asp-for="ReasonForVisit" id="reason" hidden></input>
<input asp-for="Officers" id="officers" hidden></input>
<input asp-for="PGHCode" id="code" hidden></input>
<input asp-for="Address" id="address" hidden></input>
<input asp-for="Coords" id="coords" hidden></input>
<input value="@ViewBag.Lat" id="lat" hidden></input>
<input value="@ViewBag.Long" id="lng" hidden></input>

