@{
    ViewData["Title"] = "New incident";
    Layout = "~/Views/Shared/_NoMarginLayout.cshtml";
}
<link rel="stylesheet" href="~/css/no_margins.css">

<form asp-controller="NewIncident" asp-action="Description" method="post" id="AddressForm">
<div class="row">
  <div class="col-md-12" id="column">
      <div class="addresscontainer" id="addresscontainer" style="display:none;">
      <div>
            <h4 style="margin-left: 30px;">Enter a valid address</h3>
            <div>@Html.Partial("~/Views/Incidents/New/_Address.cshtml")</div> 
            <div class="col-md-12 text-center" style="margin-top: 10px;">
              <input id="submit" type="submit" value="Next &raquo;" title="Continue to incident description" class="btn btn-address" style="display:none;"/>
            </div>
      </div>
    </div>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
  </div>
</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/address.js"></script>
<script src=@ViewData["apistring"] async defer ></script>