@{
    ViewData["Title"] = "Incident";
}
<div id="mapdata">@ViewData["coords"]</div>
<form asp-controller="NewIncident" asp-action="Next" method="post" id="form" style="display:none;">
<div class="row">
  <div class="col-sm-3"></div>
    <div class="col-md-12">
        <div id="map"></div>
    </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Describe the incident</h3>
        <div>
            @Html.Partial("~/Views/Incidents/New/_Description.cshtml")
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
    <div class="col-md-12">
        <input style="float: left; margin: 10px; width: 100px;" type="button" value="&laquo; Back" class="btn btn-default overlaytrigger" onclick="location.href='@Url.Action("Address", "NewIncident")'"/>
        <input style="float: right; margin: 10px; width: 100px;" type="submit" id="submit" value="Next &raquo;" class="btn btn-default overlaytrigger" disabled/>
    </div>
</div>
</form>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/description.js"></script>
<script src=@ViewData["apistringmap"] async defer ></script>