@model AdvisoryGeneralInfo
<form asp-controller="Advisory" asp-action="Create" method="post">
<div class="form-group">
    <div class="col-md-12">
        <input asp-for="OwnersLastName" class="form-control"></input>
        <span asp-validation-for="OwnersLastName" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="OwnersFirstName" class="form-control"></input>
        <span asp-validation-for="OwnersFirstName" class="text-danger" />
    </div>
</div>

<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <input asp-for="OwnersTelephoneNumber" class="form-control"></input>
        <span asp-validation-for="OwnersTelephoneNumber" class="text-danger" />
    </div>
</div>

<div class="form-group" style="margin-bottom: 5px;">
    <div class="col-md-12">
        <select asp-for="ReasonForVisit" data-style="btn-info" multiple class="selectpicker form-control" title="Reason(s) for visit" data-selected-text-format="count > 2" data-dropup-auto="false">
            <option>Barking (09b)</option>
            <option>Food, water, shelter</option>
            <option>Animal waste in yard (09a)</option>
            <option>Animal waste off property (09c)</option>
            <option>Feeding wildlife</option>
            <option>Count cats</option>
            <option>Count animals</option>
            <option>Feeding stray cats</option>
            <option>Running at large (08)</option>
            <option>Other</option>
        </select>
        <span asp-validation-for="ReasonForVisit" class="text-danger" />
    </div>
</div>
<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <select asp-for="PGHCode" data-style="btn-info" multiple class="selectpicker form-control" title="ADV. PGH Code(s)" data-selected-text-format="count > 4" data-dropup-auto="false">
            <option>633.02a</option>
            <option>633.03</option>
            <option>633.05</option>
            <option>633.07a</option>
            <option>633.09a</option>
            <option>633.09b</option>
            <option>633.09c</option>
            <option>633.10a</option>
            <option>633.10b</option>
            <option>633.12</option>
            <option>633.23</option>
            <option>633.24</option>
        </select>
        <span asp-validation-for="PGHCode" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="CitationNumber" class="form-control"></input>
        <span asp-validation-for="CitationNumber" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <textarea rows="3" asp-for="Comments" class="form-control" onkeyup="textAreaAdjust(this)"></textarea>
        <span asp-validation-for="Comments" class="text-danger" />
    </div>
</div>

@Html.HiddenFor(model => model.AccessToken)
@Html.HiddenFor(model => model.AdvisoryID)
@Html.HiddenFor(model => model.AddressID)

<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input style="padding: 5px 25px;" type="submit" value="Next &raquo;" class="btn btn-default" />
</div>
</form>