@{
    ViewData["Title"] = "Advisory data";
}
<div class="row">
  <div class="col-sm-12">
        <h2>Enter advisory information:</h2>
        <div>@Html.Partial("AdvisoryGeneralInfo")</div>
  </div>
</div>