@{
    ViewData["Title"] = "AdvisoryForm";
}


<h2>Advisory Form</h2>
<h3>@ViewData["Message"]</h3>

<div>@Html.Partial("GeneralInfo")</div>

<div>
    <input type="submit" value="Submit Form" class="btn btn-default" style= "background-color: aliceblue; font-weight: 600;"/>
</div>