@{
    ViewData["Title"] = "Advisory data";
}
<div class="row">
  <div class="col-sm-12">
        <h3>Advisory information:</h3>
        <div>@Html.Partial("AdvisoryGeneralInfo")</div>
  </div>
</div>