@{
    ViewData["Title"] = "Advisory data";
}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-center">
        <h2>...next, enter advisory information...</h2>
        <div>@Html.Partial("AdvisoryGeneralInfo")</div>
  </div>
  <div class="col-sm-3"></div>
</div>