@model AdvisoryGeneralInfo

<form asp-controller="Advisory" asp-action="Create" method="post">
<div class="form-group">
    <div class="col-md-12">
        <input asp-for="OwnersLastName" class="form-control"></input>
        <span asp-validation-for="OwnersLastName" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="OwnersFirstName" class="form-control"></input>
        <span asp-validation-for="OwnersFirstName" class="text-danger" />
    </div>
</div>

<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <input asp-for="OwnersTelephoneNumber" class="form-control"></input>
        <span asp-validation-for="OwnersTelephoneNumber" class="text-danger" />
    </div>
</div>

<div class="form-group" style="margin-bottom: 5px;">
    <div class="col-md-12">
        <select asp-for="ReasonForVisit" asp-items="Html.GetEnumSelectList<Reasons>()" data-style="btn-info" multiple class="selectpicker form-control" title="Reason(s) for visit">
            <option></option>
        </select>
        <span asp-validation-for="ReasonForVisit" class="text-danger" />
    </div>
</div>

<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <select asp-for="PGHCode" asp-items="Html.GetEnumSelectList<Codes>()" data-style="btn-info" multiple class="selectpicker form-control" title="ADV. PGH Code(s)">
            <option></option>
        </select>
        <span asp-validation-for="PGHCode" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="CitationNumber" class="form-control"></input>
        <span asp-validation-for="CitationNumber" class="text-danger" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="Comments" class="form-control"></input>
        <span asp-validation-for="Comments" class="text-danger" />
    </div>
</div>

@Html.HiddenFor(model => model.AccessToken)
@Html.HiddenFor(model => model.AdvisoryID)
@Html.HiddenFor(model => model.AddressID)

<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input style="padding: 5px 25px;" type="submit" value="Next &raquo;" class="btn btn-default" />
</div>
</form>