@{
    ViewData["Title"] = "Advisory data";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
 $(document).ready(function () {
    $('#buttonId').click(function () {
        $('.selectpicker').selectpicker('destroy');
    });
    });
</script>
<div class="row">
  <div class="col-sm-12">
        <h3>Advisory information:</h3>
        <div>@Html.Partial("AdvisoryGeneralInfo")</div>
  </div>
</div>
<input id="buttonId" style="padding: 5px 25px;" value="refresh" class="btn btn-link"/>