.reportcomments {
    font-size: 1.2em;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: gainsboro;
    border-radius: 5px;
}

.vertCenter {
    min-height: 100%;
    display: flex;
    align-items: center;
}

/* Discussion board
/* ------------------------- */

.speech-bubble-right {
    position: relative;
    background: #DAECFB;
    border-radius: .4em;
}

.speech-bubble-right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 80%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-left-color: #DAECFB;
    border-right: 0;
    border-bottom: 0;
    margin-top: -9px;
    margin-right: -9px;
}

.speech-bubble-left {
    position: relative;
    background: #3473A8;
    border-radius: .4em;
}

.speech-bubble-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 80%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-right-color: #3473A8;
    border-left: 0;
    border-bottom: 0;
    margin-top: -9px;
    margin-left: -9px;
}

.chatInput {
    width: 80%;
    padding: 10px 15px !important;
    font-size: 16px;
    border-top: 0px solid transparent;
    border-width: 0px;
}

.chatButton {
    width: 20%;
    background-color: lightgrey;
    border-radius: 0px;
    margin: 0px;
    height: 100% !important;
    line-height: 2.1;
    border-top: 0px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatButton:focus {
    outline: 0px auto transparent;
    outline-offset: -2px;
}

.chatButton:hover {
    background-color: #3473A8;
    color: #fff;
}