.reportcomments {
    padding: 5px 15px 15px 15px;
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: .7px solid #383838;
    border-bottom: .7px solid #383838;
}