@{
    ViewData["Title"] = "Animals";
}
@Html.Hidden("RedirectHome", Url.Action("Index", "Home"))

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/animalform.js"></script>

<form asp-controller="PostAnimal" asp-action="Submit" method="post" id="form" style="display:none;">
<div class="row">
  <div class="col-sm-12">
        <h3>Identify the animals</h3>
        <div class="repeatcontainer">
            <animal>@Html.Partial("AddAnimal")</animal>
        </div>
  </div>
</div>
<a class="btn btn-link" id="AddAnimal" onclick="addAnimal()" style="display:none; font-size: 16px; margin-top: 10px;"><span></span></a>
<br>
<a class="btn btn-link" id="Submit" onclick="returnHome()" style="display:none; font-size: 16px; margin-top: 10px;"><span></span></a>
</form>