@using HtmlHelpers.BeginCollectionItemCore;
@model ACCmobile.Models.AnimalViewModel

@using (Html.BeginCollectionItem("AnimalItems"))
{
<h4 style="font-style:italic;"> Animal:  <input class="no-border" style="font-weight: 800;" asp-for="AnimalHeading" id="heading" readonly></input></h4>
<div class="container" data-role="page" id="animalPage">
  <div class="row">
    <div class="col-md-6">

        <div class="form-group" style="margin-bottom: 10px;">
            <input asp-for="AnimalName" class="form-control" id="name" required="true"  onchange="setheader()"></input>
            <span asp-validation-for="AnimalName" class="text-danger" />
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="TypeRelay" data-style="btn-info" class="selectpicker form-control" title="Type" data-dropup-auto="false" id="typerelay" required="true">
                <option>Dog</option>
                <option>Cat</option>
                <option>Other</option>
            </select>    
            <span asp-validation-for="Type" class="text-danger" />
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="BreedRelay" data-style="btn-info" multiple class="selectpicker form-control" title="Breed" data-selected-text-format="count > 3" data-dropup-auto="false" id="breedrelay">
                <optgroup label="Cats">
                    <option>Domestic Short Hair</option>
                    <option>Domestic Long Hair</option>
                    <option>Feral</option>
                    <option>Tabby</option>
                    <option>Siamese</option>
                </optgroup>
                <optgroup label="Dogs">
                    <option>Mix</option>
                    <option>Pit Bull</option>
                    <option>Terrier</option>
                    <option>German Shepherd</option>
                    <option>Rottweiler</option>
                    <option>Bulldog</option>
                    <option>Beagle</option>
                    <option>Poodle</option>
                    <option>Yorkie</option>
                    <option>Boxer</option>
                    <option>Great Dane</option>
                    <option>Doberman</option>
                    <option>Australian Shepherd</option>
                    <option>Shih Tzu</option>
                    <option>Pomeranian</option>
                    <option>Spaniel</option>
                </optgroup>
            </select>
            <span asp-validation-for="Breed" class="text-danger" />
        </div>

        <div class="form-group" style="margin-bottom: 5px;">
            <select asp-for="CoatRelay" data-style="btn-info" multiple class="selectpicker form-control" title="Coat" data-selected-text-format="count > 3" data-dropup-auto="false" id="coatrelay">
                <optgroup label="Cats">
                    <option>Tabby</option>
                    <option>Calico</option>
                </optgroup>
                <optgroup label="Dogs">
                    <option>Brindle</option>
                </optgroup>
                <optgroup label="Universal">
                    <option>Black</option>
                    <option>White</option>
                    <option>Gray</option>
                    <option>Brown</option>
                    <option>Tan</option>
                    <option>Blue</option>
                    <option>Orange</option>
                    <option>Yellow</option>
                    <option>Golden</option>
                </optgroup>
            </select>
            <span asp-validation-for="Coat" class="text-danger" />
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <select asp-for="SexRelay" data-style="btn-info" class="selectpicker form-control" title="Sex" data-dropup-auto="false" id="sexrelay">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
            <span asp-validation-for="Sex" class="text-danger" />
        </div>

    </div>
    <div class="col-md-6">

        <div class="form-group">
            <input asp-for="Age" class="form-control"></input>
            <span asp-validation-for="Age" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="LicenseNumber" class="form-control"></input>
            <span asp-validation-for="LicenseNumber" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="LicenseYear" class="form-control"></input>
            <span asp-validation-for="LicenseYear" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="RabbiesVacNo" class="form-control"></input>
            <span asp-validation-for="RabbiesVacNo" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="RabbiesVacExp" class="form-control"></input>
            <span asp-validation-for="RabbiesVacExp" class="text-danger" />
        </div>

    </div>
  </div>
  <div class="row">
    <div class="form-group">

        <div class="col-md-12">
            <textarea rows="3" asp-for="Veterinarian" class="form-control" onkeyup="textAreaAdjust(this)"></textarea>
            <span asp-validation-for="Veterinarian" class="text-danger" />
        </div>
        
    </div>
  </div>
</div>

<!-- begin hidden fields -->
<input asp-for="Type" id="type" type="hidden"></input>
<input asp-for="Breed" id="breed" type="hidden"></input>
<input asp-for="Coat" id="coat" type="hidden"></input>
<input asp-for="Sex" id="sex" type="hidden"></input>
}

<input class="btn btn-link" type="button" value="remove animal" onclick="$(this).parent().remove(); return false;" style="margin-left:25px;"/>
<hr />