@{
    ViewData["Title"] = "Incident";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/incidentdescription.js"></script>
<script src=@ViewData["apistringmap"] async defer ></script>

<form asp-controller="New_Incident" asp-action="Create" method="post" id="form" style="display:none;">
<div class="row">
  <div class="col-sm-3"></div>
    <div class="col-md-12">
        <div id="map"></div>
    </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Describe the incident</h3>
        <div>
            @Html.Partial("_AddDescription")
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
    <div class="col-md-12">
        <input style="float: left; margin: 10px;" type="button" value="&laquo; Back" class="btn btn-default" id="overlaytrigger1" onclick="location.href='@Url.Action("Validation", "Address")'"/>
        <input style="float: right; margin: 10px;" type="submit" value="Next &raquo;" class="btn btn-default" id="overlaytrigger2"/>
    </div>
</div>
</form>