@{
    ViewData["Title"] = "Home";
}
<br>
<br>
<div class="row" style="margin-top: 10x;">
    <div class="col-md-6" style="margin-top:-10px;">
        <div>
            <img src="~/images/acclogo.png" class="img-responsive center-block" style="min-width: 80%"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a href="/Address/Validation" class="btn btn-big"><i style="font-size:3.5em" class="glyphicon glyphicon-plus"></i><br> New incident &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a href="/Get_Incidents/ByAddress" class="btn btn-big"><i style="font-size:3.5em" class="glyphicon glyphicon-search"></i><br> Search incidents &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>