@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
        <p class="lead"><b>ACCmobile - </b>This web application will allow animal control agents in the field to access and interact with data stored on the Animal Control Sharepoint site.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Create new advisory form</h2>
            <p>Submit an electronic advisory form</p>
            <p><a class="btn btn-default" href="/Advisory/AdvisoryForm">Create new form &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Search old advisory forms</h2>
            <p>Search the old, paper advises by address</p>
            <p><a class="btn btn-default" href="https://cityofpittsburgh.sharepoint.com/sites/PublicSafety/Teams/AnimalControl/Address%20Information/Forms/AllItems.aspx?RootFolder=%2Fsites%2FPublicSafety%2FTeams%2FAnimalControl%2FAddress%20Information%2FScanned%20Advises">Search old advises &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Search new advisory forms</h2>
            <p>Search the new, electronic advises by any field</p>
            <p><a class="btn btn-default" href="https://google.com">Search new advises &raquo;</a></p>
        </div>
    </div>