@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<div class="row" style="margin-top: 30px;">
    <div class="col-md-6" style="margin-top:-30px;">
        <div>
            <img src="~/images/acclogo.png" class="img-responsive center-block" style="min-width: 80%"/>
            <br>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a style="margin: 0px 15px 20px 15px; padding: 12px 40px; font-size: 20px;" class="btn btn-primary" href="/Address/AddressForm"><i class="glyphicon glyphicon-plus"></i> New incident report &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a style="font-size: 16px;" class="btn btn-primary disabled"><i class="glyphicon glyphicon-home"></i> Search incidents by address &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a style="font-size: 16px" class="btn btn-primary disabled"><i class="glyphicon glyphicon-piggy-bank"></i> Search incidents by animals &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a style="font-size: 16px" class="btn btn-primary disabled"><i class="glyphicon glyphicon-user"></i> Search incidents by owners &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a style="font-size: 16px" class="btn btn-primary disabled"><i class="glyphicon glyphicon-paperclip"></i> Search paper advisory forms &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>