@{
    ViewData["Title"] = "Home";
}
<br>
<br>
<div class="row" style="margin-top: 10x;">
    <div class="col-md-6" style="margin-top:-10px;">
        <div>
            <img src="~/images/acclogo.png" class="img-responsive center-block" style="min-width: 80%"/>
            <br>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a href="/Address/Validation" style="margin-bottom: 20px; padding: 15px 40px; font-size: 20px;" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New incident &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="vcenter">
                <p><a href="/Get_Incidents/ByAddress" style="margin-bottom: 20px; padding: 15px 40px; font-size: 20px;" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search incidents &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>