@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}
<link rel="stylesheet" href="~/css/home.css">
<div class="row hidden-xs">
        <div class="pull-left left">
            <div class="col">
                <p><a href="/NewIncident/Address" class="btn btn-big btn-big-left overlaytrigger"><i style="font-size:2.2em;" class="glyphicon glyphicon-plus"></i><br>New<br>Incident</a></p>
            </div>
        </div>
        <div class="col-md-6 home">
            <div>
                <img src="~/images/acclogo.png" class="img-responsive center-block"/>
            </div>
        </div>
        <div class="pull-right right">
            <div class="col">
                <p><a href="/Incidents/Open" class="btn btn-big btn-big-right overlaytrigger"><span style="font-size:2.2em; color: #973b3b;">@ViewBag.Count</span><br>Open<br>Incidents</a></p>
            </div>
            <div class="col">
                <p><a href="/Incidents/All" class="btn btn-big btn-big-right overlaytrigger"><i style="font-size:2.2em;" class="glyphicon glyphicon-search"></i><br>All<br>Incidents</a></p>
            </div>
        </div>
</div>
<div class="hidden-sm hidden-md hidden-lg">
        <div class="row">
            <div>
                <br>
                <img src="~/images/acclogo.png" class="img-responsive center-block"/>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><a href="/NewIncident/Address" class="btn btn-big btn-big-full overlaytrigger"><i style="font-size:2em; vertical-align: middle; margin-right: 20px;" class="glyphicon glyphicon-plus"></i>New incident</a></p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><a href="/Incidents/Open" class="btn btn-big btn-big-full overlaytrigger"><span style="font-size:2em; vertical-align: middle; color: #973b3b; margin-right: 20px;">@ViewBag.Count</span>Open incidents</a></p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><a href="/Incidents/All" class="btn btn-big btn-big-full overlaytrigger"><i style="font-size:2em; vertical-align: middle; margin-right: 20px;" class="glyphicon glyphicon-search"></i>Search incidents</a></p>
            </div>
        </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/home.js"></script>