@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4 text-center">
        <p><a class="btn btn-default" href="/Advisory/AdvisoryForm">Create new advisory form &raquo;</a></p>
    </div>
    <div class="col-md-4 text-center">
        <p><a class="btn btn-default" href="https://cityofpittsburgh.sharepoint.com/sites/PublicSafety/Teams/AnimalControl/Address%20Information/Forms/AllItems.aspx?RootFolder=%2Fsites%2FPublicSafety%2FTeams%2FAnimalControl%2FAddress%20Information%2FScanned%20Advises">Search paper advises &raquo;</a></p>
    </div>
</div>