@{
    ViewData["Title"] = "Incident data";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/incidentform.js"></script>
<form asp-controller="Incident" asp-action="Create" method="post" id="form" style="display:none;">
<div class="row">
  <div class="col-sm-3"></div>
    <div class="col-md-12">
        <div id="map" style="margin-top:10px;"></div>
    </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Describe the incident</h3>
        <div>
            @Html.Partial("AddIncident")
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
    <div class="col-md-12 text-center">
        <input style="padding: 5px 25px; margin: 10px 50px;" type="button" value="&laquo; Back" class="btn btn-default" onclick="location.href='@Url.Action("AddressForm", "Address")'"/>
        <input style="padding: 5px 25px; margin: 10px 50px;" type="submit" value="Next &raquo;" class="btn btn-default" id="button"/>
    </div>
</div>
</form>
<script src=@ViewData["apistringmap"] async defer ></script>
