html, body, {
  width: 100% !important;
  height: 100% !important;
  margin: 10 !important;
  padding-bottom: 0 !important;
}
#map {
  width:100% !important;
  height:100% !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  padding: 10px !important;
}
.body-content {
  width:100% !important;
  height:100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.container, .body-content, {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.addresscontainer {
  background-color: rgba(56, 56, 56, 0.85);
  padding: 10px 10px 15px 0px;
  margin: 20px 10px 50px 10px;
  border-radius: 5px;
  max-width: 600px;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.62);
  -moz-box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.62);
  box-shadow: 5px 5px 12px 6px rgba(0,0,0,0.62);
}
#autocomplete {
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-right: 30px; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}