html, body, .container, .row, #column {
  width: 100% !important;
  height: 100% !important;
  padding-bottom: 0px !important;
  margin:0px !important; 
}
.body-content {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
}
.navbar-head { 
  float: left;
  height: 50px;
  padding: 15px 10px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-right {
  margin-right: -5px;
}
.navbar-toggle {
  margin-right: -5px;
}
/* center icon on home page */
.home {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* left button on home page */
.left {
  position: sticky;
  top: 25%;
  padding: 0;
  margin: 0;
}
/* right button on home page */
.right {
  position: sticky;
  top: 18%;
  padding: 0;
  margin: 0;
}