body {
    padding-top: 50px;
    padding-bottom: 20px;
}

h2 {
    color: #383838;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* navbar style */
.navbar-inverse { 
    background-color: #fffaee !important; 
    border-color: #383838 !important;
}
.navbar-brand {
    color: #383838 !important;
    font-weight: 5400 !important;
    border-radius: 3px;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    background: #383838 !important;
    color: #fffaee !important;
    font-weight: bold;
    transition-duration: .3s;
    -webkit-transition-duration: .20s;
    -moz-transition-duration: .2s;
}
.navbar-inverse .navbar-nav > li > a {
    color: #383838 !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #383838 !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.navbar-inverse .navbar-toggle {
    border-color: #383838 !important;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgba(56,56,56,.3) !important;
    transition-duration: .3s;
    -webkit-transition-duration: .11s;
    -moz-transition-duration: .2s;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #383838 !important;
}

/* form style */
.form-control {
    margin: 5px !important;
    height: auto;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
.btn-default {
    /* font */
    color: #383838;
    font-size: 18px;
    font-family: helvetica;
    
    /* remove blue underline */
    text-decoration: none;
    
    /* border */
    border: 0px;
    border-radius: 20px;
    
    /* transitions */
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    
    /* other */
    background-color: white;
    padding: 10px 30px;
    margin: 7px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 10px 10px 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
  }
.btn:hover {
    /* update text color and background color */
    color:white;
    background-color:#383838;
    
        /* transitions */
    transition-duration: .3s;
    -webkit-transition-duration: .11s;
    -moz-transition-duration: .2s;
}
.footer {
    position: fixed; 
    bottom: 0;
}