@{
    ViewData["Title"] = "Animal data";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<script type="text/javascript" src="~/js/animalform.js"></script>

<form asp-controller="Animal" asp-action="Create" method="post">
<div class="row">
  <div id="form" class="col-sm-12">
        <h3>Describe the animals</h3>
        <div>@Html.Partial("AnimalGeneralInfo")</div>
  </div>
</div>

<div>
  <input class="btn btn-link" type="button" value="+ add animal" id="addField" onclick="addFields()" />
</div>

<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input style="padding: 5px 25px;" type="submit" value="Submit" class="btn btn-default" id="button" />
</div>
</form>
