@{
    ViewData["Title"] = "Animal data";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/animalform.js"></script>

<form asp-controller="Animal" asp-action="Submit" method="post" id="form" style="display:none;">
<div class="row">
  <div class="col-sm-12">
        <h3>Identify the animals</h3>
        <div class="repeatcontainer">
            <animal>@Html.Partial("AddAnimal")</animal>
        </div>
  </div>
</div>

<a class="btn btn-link" id="AddAnimal" onclick="addAnimal()" style="display:none;"><span></span></a>
<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input style="padding: 5px 25px;" type="submit" value="Complete" class="btn btn-default" id="Submit" />
</div>
</form>