@model AddressModel

<div class="form-group">
    <div class="col-md-12">
        <div class="right-inner-addon">
            <input id="autocomplete" asp-for="AddressRelay" class="form-control" type="text" required="true" onchange="checkAddress()">
            <span class="glyphicon glyphicon-ok form-control-feedback icon-textbox" style="display:none;" id="checkmark" ></span>
        </div>
        <input asp-for="Address" hidden="true" id="address"/>
        <input asp-for="AddressID" hidden="true" id="addressid"/>
    </div>
</div>