@model Address

<div class="form-group">
    <div class="col-md-12">
        <input id="autocomplete" asp-for="AddressClass" class="form-control" required="true"></input>
        <input asp-for="AddressID" type="hidden"></input>
    </div>
</div>
