@{
    ViewData["Title"] = "Address";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- address validation via google autocomplete -->
<script>
  var placeSearch, autocomplete;

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('autocomplete')),
        {types: ['geocode']});
    autocomplete.addListener('place_changed', fillInAddress);
    autocomplete.addListener('place_changed', checkAddress);
  }

  function fillInAddress() {
    $(
        function(){
          $('#address').val( $('#autocomplete').val() );
        }
    );
  }

  function checkAddress () {
      var autocomplete = $('#autocomplete').val();
      var address = $('#address').val();
      if ( autocomplete == address)
      {
          $("#button").prop("disabled",false);
          $("#checkmark").css("display", "block");
      } 
      else 
      {
          $("#button").prop("disabled",true);
          $("#checkmark").css("display", "none");
      }
  }

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
<script src=@ViewData["apistring"] async defer></script>

<form asp-controller="Address" asp-action="Create" method="post" id="AddressForm">
<div class="row">
  <div class="col-sm-3"></div>
  <div id="form"class="col-sm-6 text-center">
        <h3>Enter the address:</h3>
        <div>@Html.Partial("AddressGeneralInfo")</div> 
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input id="button" style="padding: 5px 25px;" type="submit" value="Next &raquo;" class="btn btn-default" disabled="true"/>
</div>
</form>

