@model Address

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="AddressClass" class="form-control"></input>
        <input asp-for="AddressID" type="hidden"></input>
        <input asp-for="AccessToken" type="hidden"></input>
    </div>
</div>
