@{
    ViewData["Title"] = "Address";
}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-center">
        <h2>First, identify the address:</h2>
        <div>@Html.Partial("AddressGeneralInfo")</div>
  </div>
  <div class="col-sm-3"></div>
</div>
