@{
    ViewData["Title"] = "Address";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/addressform.js"></script>
<script src=@ViewData["apistring"] async defer></script>

<form asp-controller="Address" asp-action="Create" method="post" id="AddressForm">
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-center">
        <h3>Enter the address:</h3>
        <div>@Html.Partial("AddressGeneralInfo")</div> 
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input id="button" style="padding: 5px 25px;" type="submit" value="Next &raquo;" class="btn btn-default" disabled="true"/>
</div>
</form>

