@{
    ViewData["Title"] = "Address";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
 $(document).ready(function () {
        $('#buttonId').click(function () {
            $('#divid').load('@Url.Action("AddressGeneralInfo", "Address")');
        });
    });
</script>
<form asp-controller="Address" asp-action="Create" method="post">
<div class="row">
  <div class="col-sm-3"></div>
  <div id="form"class="col-sm-6 text-center">
        <h3>First, enter the address:</h3>
        <div>@Html.Partial("AddressGeneralInfo")</div> 
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div id="form"class="col-sm-6 text-center">
      <div id="divid"></div>
  </div>
  <div class="col-sm-3"></div>
</div>
<input id="buttonId" style="padding: 5px 25px;" value=" + add another" class="btn btn-link"/>
<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input id="button" style="padding: 5px 25px;" type="submit" value="Next &raquo;" class="btn btn-default"/>
</div>
</form>

