@{
    ViewData["Title"] = "Address";
}

<!-- address validation via google autocomplete -->
<script>
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
        (document.getElementById('autocomplete')),
        {types: ['geocode']});
    autocomplete.addListener('place_changed', fillInAddress);
  }
</script>
<script src=@ViewData["apistring"] async defer></script>

<form asp-controller="Address" asp-action="Create" method="post">
<div class="row">
  <div class="col-sm-3"></div>
  <div id="form"class="col-sm-6 text-center">
        <h3>Enter the address:</h3>
        <div>@Html.Partial("AddressGeneralInfo")</div> 
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 10px">
    <input id="button" style="padding: 5px 25px;" type="submit" value="Next &raquo;" class="btn btn-default"/>
</div>
</form>

