@model Address

<div class="form-group">
    <div class="col-md-12">
        <input asp-for="AddressClass" class="form-control"></input>
        <span asp-validation-for="AddressClass" class="text-danger" />
    </div>
</div>

@Html.HiddenFor(model => model.AddressID)
@Html.HiddenFor(model => model.AccessToken)