@model AddressViewModel

<div class="form-group">
    <div class="col-md-12">
        <div class="right-inner-addon">
            <input id="autocomplete" asp-for="AddressRelay"  class="form-control" type="text" required="true" onchange="checkAddress()" style="padding-top: 8px; padding-bottom: 8px; padding-right: 25px; box-shadow: 5px 5px 5px; rgba(0, 0, 0, 0.4);">
            <span class="glyphicon glyphicon-ok form-control-feedback icon-success" style="font-size: 1.3em; margin-right: -8px; margin-top: 2px; display:none;" id="checkmark" ></span>
        </div>
        <input asp-for="AddressClass" hidden="true" id="address"/>
        <input asp-for="AddressID" id="addressid"/>
    </div>
</div>