@model AddressViewModel

<div class="form-group">
    <div class="col-md-12">
        <div class="right-inner-addon">
            <input id="autocomplete" asp-for="AddressRelay" style="padding-right: 35px;" class="form-control" onFocus="geolocate()" type="text" required="true" oninvalid="this.setCustomValidity('Please enter a valid address')" onchange="checkAddress()">
            <span class="glyphicon glyphicon-ok form-control-feedback icon-success" style="display:none;" id="checkmark" ></span>
        </div>
        <input asp-for="AddressClass" hidden= "true" id="address"/>
        <input asp-for="AddressID" hidden="true"/>
    </div>
</div>