@{
    ViewData["Title"] = "New incident";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/addressform.js"></script>
<script src=@ViewData["apistring"] async defer ></script>

<form asp-controller="Address" asp-action="Next" method="post" id="AddressForm">
<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
      <div class="addresscontainer" id="addresscontainer">
      <div>
            <div>@Html.Partial("_Address")</div> 
      </div>
    </div>
    <div id="map" style="height: 350px; width: 100%;"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
  </div>
</div>
<div class="col-md-12 text-center" style="margin-top: 20px; margin-bottom: 10px">
    <input id="button" type="submit" value="Next &raquo;" class="btn btn-default" disabled="true"/>
</div>
</form>
