@model AllIncidents
<tr>
    <td>
    <a href="@Model.Link" target="_blank" style="font-size: 16px;">Open report</a>
    </td>
    <td>
    <div id="date">@Model.Date</div>
    </td>
    <td>
    <div>@Model.Address</div>
    </td>
</tr>
   
   
   
