@{
    ViewData["Title"] = "Incidents";
}
@model List<AllIncidents>
<h3 style="margin-left:20px;">Search incidents by address</h3>
<input style="display:none;" id="mapdata" value='@ViewBag.heatmap'/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/incidentsbyaddress.js"></script>
<script src=@ViewData["apistring"] async defer ></script>
<form id="form">
    <div id="row">
        <div class="addresscontainer" id="addresscontainer" style="margin: 20px;">
            <input id="search" placeholder="Enter an address" class="form-control" type="text" style="padding-top: 8px; padding-bottom: 8px; padding-right: 28px; box-shadow: 5px 5px 5px; rgba(0, 0, 0, 0.4);">
        </div>
    </div>
    <div id="row">
        <div id="map" style="height: 350px;"></div>
        <div id="infowindow-content" style="padding: 5px;" class="scrollFix">
            <span id="place-address" class="title" style="font-size:14px;"></span><br>
            <span id="status" style="font-style: italic !important;"></span><br>
            <span id="date"></span><br>
            <span id="link"></span>
        </div>
    </div>
    <div class="row" style="margin: 15px 50px;">
        <table id="dt" class="table table-striped dataTable" cellspacing="0">
            <thead>
            </tr>
                <tr>
                    <th style="width:140px !important;"></th>
                    <th style="width:200px !important;">Date</th>
                    <th class="all">Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach(AllIncidents item in Model)
                {
                    @Html.Partial("~/Views/Get_Incidents/_byAddress.cshtml", item)
                }
            </tbody>
        </table>
    </div>
</form>
