@{
    ViewData["Title"] = "Incidents";
}
@model List<AllIncidents>
<div class="row">
<div class="col-md-12">
<h3 style="margin-left:20px;">All incidents</h3>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<form id="form">
<table id="dt" class="table table-striped dataTable" cellspacing="0">
    <row>
        <div>
            <input class="form-control" id="search" placeholder="Search by address"/>
        </div>
    </row>
    <thead>
    </tr>
        <tr>
            <th></th>
            <th class="all">Address</th>
            <th>Date</th>
            <th>Coordinates</th>
        </tr>
    </thead>
    <tbody>
        @foreach(AllIncidents item in Model)
        {
            @Html.Partial("~/Views/Get_Incidents/_byAddress.cshtml", item)
        }
    </tbody>
</table>
</form>
</div>
</div>