@{
    ViewData["Title"] = "Incidents";
}
@model List<AllIncidents>
<link rel="stylesheet" href="~/css/datatables.css">
<div style="display:none;" id="mapdata">@ViewBag.heatmap</div>
<form id="form">
    <div id="row" class="hidden-md hidden-lg hidden-xl">
        <div style="margin: 15px 0px;">
            <input id="search2" placeholder="Enter an address" class="form-control" type="text" style="padding-top: 8px; padding-bottom: 8px;">
        </div>
    </div>
    <div id="row" class="hidden-sm hidden-xs">
        <div id="map" style="height: 450px;"></div>
        <div id="infowindow-content" style="padding: 5px;">
            <span id="place-address" class="title" style="font-size:14px;"></span><br>
            <span id="status" style="font-style: italic !important; margin-top:10px !important;"></span><br>
            <span id="date" style="margin-left: 8px !important;"></span><br>
            <span id="link" style="margin-left: 8px !important;"></span>
        </div>
    </div>
    <div class="row" style="margin: 15px 0px;">
        <table id="dt" class="table table-striped dataTable" cellspacing="0">
            <thead>
            </tr>
                <tr>
                    <th style="width:20% !important;" class="all"></th>
                    <th style="width:20% !important;">Date</th>
                    <th class="all" style="width:60% !important;">Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach(AllIncidents item in Model)
                {
                    @Html.Partial("~/Views/Get_Incidents/_byAddress.cshtml", item)
                }
            </tbody>
        </table>
    </div>
    <div id="row" class="hidden-sm hidden-xs">
        <div class="addresscontainer" id="addresscontainer" style="margin: 20px;">
            <input id="search" placeholder="Enter an address" class="form-control" type="text" style="padding-top: 8px; padding-bottom: 8px; box-shadow: 5px 5px 5px; rgba(0, 0, 0, 0.4); display:none;">
        </div>
    </div>
</form>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/datatables.js"></script>
<script type="text/javascript" src="~/js/incidentsbyaddress.js"></script>
<script src=@ViewData["apistring"] async defer ></script>
