@{
    ViewData["Title"] = "Incident";
}
<div class="row">
    <div class="col-md-12">
        <form id="form">
        @Html.Partial("~/Views/GetIncidents/_Incident.cshtml")
        </form>
    </div>
</div>