@{
    ViewData["Title"] = "Incident";
}
<div class="row">
    <div class="col-md-12">
        <form id="form">
        @Html.Partial("~/Views/Get_Incidents/_incidentReport.cshtml")
        </form>
    </div>
</div>