@{
    ViewData["Title"] = "Incident";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/incidentreport.js"></script>
<script src=@ViewData["apistring"] async defer ></script>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="incident-card">
            <form id="form">
            @Html.Partial("~/Views/Get_Incidents/_incidentReport.cshtml")
            </form>
        </div>
    </div>
    <div class="col-md-6 hidden-xs">
        <br>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <div id="infowindow-content">
            <span id="place-address"></span><br>
            <span id="place-id"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <h4 style="margin-left: 10px;">Animals:</h4>
    <table id="dt" class="table table-striped dataTable" cellspacing="0">
        <thead>
        </tr>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Breed</th>
                <th>Coat</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </div>
</div>