@model GetIncident
<form id="editanimal" style="overflow:visible">
<div class="col-md-6">
    <div class="form-group" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div style="margin-left: 5px;">Animal's name</div>
            <input asp-for="AnimalName" class="form-control" id="animalname">
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Type</div>
            <select asp-for="Type" data-style="btn-info" class="selectpicker btn-form-control animal-type" title="" data-dropup-auto="false" id="typerelay">
                <option></option>
                <option data-divider="true"></option>
                <option>Dog</option>
                <option>Cat</option>
                <option>Other</option>
            </select>    
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Breed</div>
            <select asp-for="Breed" data-style="btn-info" multiple class="selectpicker btn-form-control" title="" data-size="7" data-selected-text-format="count > 3" data-dropup-auto="false" id="breedrelay">
                <option class="submitted"></option>
                <option data-divider="true"></option>
                <!-- mix -->
                <option>Mix</option>
                <!-- cats -->
                <option class="cat">Domestic Long Hair</option>
                <option class="cat">Domestic Short Hair</option>
                <option class="cat">Feral</option>
                <option class="cat">Siamese</option>
                <option class="cat">Tabby</option>
                <!-- dogs -->
                <option class="dog">Australian Shepherd</option>
                <option class="dog">Beagle</option>
                <option class="dog">Boxer</option>
                <option class="dog">Bulldog</option>
                <option class="dog">Chihuahua</option>
                <option class="dog">Doberman</option>
                <option class="dog">Dachshund</option>
                <option class="dog">German Shepherd</option>
                <option class="dog">Great Dane</option>
                <option class="dog">Jack Russell</option>
                <option class="dog">Labrador</option>
                <option class="dog">Maltese</option>
                <option class="dog">Mastiff</option>
                <option class="dog">Miniature Pinscher</option>
                <option class="dog">Pit Bull</option>
                <option class="dog">Pomeranian</option>
                <option class="dog">Poodle</option>
                <option class="dog">Pug</option>
                <option class="dog">Retriever</option>
                <option class="dog">Rottweiler</option>
                <option class="dog">Shih Tzu</option>
                <option class="dog">Spaniel</option>
                <option class="dog">Terrier</option>
                <option class="dog">Yorkie</option>
                <!-- other -->
                <option>Other</option>
            </select>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Coat</div>
            <select asp-for="Coat" data-style="btn-info" multiple class="selectpicker btn-form-control" title="" data-size="7" data-selected-text-format="count > 3" id="coatrelay">
                <option class="submitted"></option>
                <option data-divider="true"></option>
                <!-- cats -->
                <option class="cat">Calico</option>
                <option class="cat">Tabby</option>
                <!-- dogs -->
                <option class="dog">Brindle</option>
                <option class="dog">Tricolor</option>
                <!-- dogs -->
                <option>Black</option>
                <option>Blue</option>
                <option>Brown</option>
                <option>Golden</option>
                <option>Gray</option>
                <option>Orange</option>
                <option>Tan</option>
                <option>White</option>
                <option>Yellow</option>
            </select>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Sex</div>
            <select asp-for="Sex" data-style="btn-info" class="selectpicker btn-form-control" title="" id="sexrelay">
                <option></option>
                <option data-divider="true"></option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>  
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px;">Age</div>
            <input asp-for="Age" class="form-control" id="animalage">    
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">License number</div>
            <input asp-for="LicenseNumber" class="form-control" id="animallicenseno">     
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">License year</div>
            <input asp-for="LicenseYear" class="form-control" id="animallicenseyr">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Rabies vac. number</div>
            <input asp-for="RabiesVacNo" class="form-control" id="animalrabiesvacno">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Rabies vac. expiration</div>
            <input asp-for="RabiesVacExp" type="date" class="form-control" id="animalrabiesvacexp">  
        </div>
    </div>
</div>

<div class="form-group" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <div style="margin-left: 5px; padding-top: 5px;">Veterinarian</div>
        <select asp-for="Veterinarian" data-style="btn-info" class="selectpicker btn-form-control" title="" data-size="7"  data-dropup-auto="false" id="vetrelay">
            <option></option>
            <option data-divider="true"></option>
            <option>Animal Friends, 562 Camp Horne Rd</option>
            <option>Banfield Pet Hospital, 5986 Centre Ave</option>
            <option>Cat Clinic and Hospital, 5170 Liberty Ave</option>
            <option>East End Veterinary Medical Centre, 5875 Ellsworth Ave</option>
            <option>Edgebrook Veterinary Clinic, 1405 Saw Mill Run Blvd</option>
            <option>Greenfield Veterinary Hospital, 611 Greenfield Ave</option>
            <option>Harts Run Veterinary Hospital, 728 Dorseyville Rd</option>
            <option>Humane Animal Rescue East, 6966 Hamilton Ave</option>
            <option>Humane Animal Rescue North, 1101 Western Ave</option>
            <option>Penn Animal Hospital, 2205 Penn Ave</option>
            <option>Point Breeze Veterinary Clinic, 6742 Reynolds St</option>
            <option>Spay Neuter Clinic, 11675 Frankstown Rd. Penn Hills</option>
            <option>The Big Easy Animal Hospital, 12 McCandless Ave</option>
            <option>VCA Castle Shannon Animal Hospital, 3610 Library Rd</option>
            <option>VCA Met Vet West Animal Hospital, 5309 Campbells Run Rd</option>
            <option>Vetco, 976 Freeport Rd PGH 15238</option>
            <option>Other</option>
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <div style="margin-left: 5px; padding-top: 5px;">Comments</div>
        <textarea asp-for="AnimalComments" rows="3" class="form-control" id="animalcomments" onfocus="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)"></textarea>
    </div>
</div>

    <!-- begin hidden fields -->
    <input asp-for="itemID" hidden></input>
    <input asp-for="TypeRelay" id="puttype" hidden></input>
    <input asp-for="BreedRelay" id="putbreed" hidden></input>
    <input asp-for="CoatRelay" id="putcoat" hidden></input>
    <input asp-for="SexRelay" id="putsex" hidden></input>
    <input asp-for="animalitemID" id="animalitemid" hidden></input>

    <div class="text-center col-md-12">
        <input style="max-width: 250px; margin-top: 20px;" onclick="putAnimal()" value="Save" id="submit" class="btn btn-default overlaytrigger"/>
    </div>
</form>