@model GetIncident
<form id="update">
    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px;">Owner's last name</div>
            <input asp-for="OwnersLastName" class="form-control"></input>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Owner's first name</div>
            <input asp-for="OwnersFirstName" class="form-control"></input>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Owner's telephone number</div>
            <input asp-for="OwnersTelephoneNumber" class="form-control"></input>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Call origin</div>
            <select asp-for="CallOrigin" data-style="btn-info" class="selectpicker form-control" data-dropup-auto="false" title="">
                <option>@Model.CallOrigin</option>
                <option data-divider="true"></option>
                <option>911</option>
                <option>311</option>
                <option>Office</option>
                <option>Police</option>
                <option>Other</option>
            </select>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Reason(s) for visit</div>
            <select asp-for="ReasonForVisit" data-style="btn-info" multiple class="selectpicker form-control" title="" data-selected-text-format="count > 2" data-size="7" onchange="enableButton()" id="reasonrelay">
                <option>@Model.ReasonForVisit</option>
                <option data-divider="true"></option>
                <option>Barking</option>
                <option>FWS</option>
                <option>Animal waste in yard</option>
                <option>Animal waste off property</option>
                <option>Feeding wildlife</option>
                <option>Count cats</option>
                <option>Count animals</option>
                <option>Feeding stray cats</option>
                <option>Running at large</option>
                <option>Abandoned animal</option>
                <option>Other</option>
            </select>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">ADV. PGH Code(s)</div>
            <select asp-for="PGHCode" data-style="btn-info" multiple class="selectpicker form-control" data-selected-text-format="count > 3" id="coderelay" data-size="7" Title="">
                <option>@Model.PGHCode</option>
                <option data-divider="true"></option>
                <option >633.02a</option>
                <option >633.03</option>
                <option >633.05</option>
                <option >633.07a</option>
                <option >633.08</option>
                <option >633.09a</option>
                <option >633.09b</option>
                <option >633.09c</option>
                <option >633.10a</option>
                <option >633.10b</option>
                <option >633.12</option>
                <option >633.23</option>
                <option >633.24</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Citation number</div>
            <input asp-for="CitationNumber" class="form-control"></input>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div style="margin-left: 5px; padding-top: 5px;">Comments</div>
            <textarea rows="3" asp-for="Comments" class="form-control" onkeyup="textAreaAdjust(this)"></textarea>
        </div>
    </div>

    <!-- begin hidden fields -->
    <input asp-for="itemID" hidden>
    <input asp-for="ReasonForVisitRelay" id="reason" hidden></input>
    <input asp-for="PGHCodeRelay" id="code" hidden></input>


    <div class="text-center">
        <input style="width: 60%; margin-top: 20px;"  onclick="putIncident()" value="Save" id="submit" class="btn btn-default overlaytrigger"/>
    </div>
</form>
